body {
	background-color: #211404;
	color: #ebe4b2;
}

h1 {
	font-style: italic;
	float: left;
	margin-top: 0px;
}

#editor {
	position: absolute;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 50%;
	margin: 15px;
}

#results {
	position: absolute;
	top: 45px;
	bottom: 0;
	left: 50%;
	right: 0;
	margin: 15px;
}

.example-buttons {
	float: right;
	margin-top: 15px;
	margin-right: 15px;
}

.example-buttons div {
	display: inline-block;

}
.example-buttons div:hover {
	cursor: pointer;
	text-decoration: underline;
}